.clients__list {
    display: flex;
}
.clients__icon {
    width: 172px;
    height: 94px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    fill: var(--icon-primary);
    transition: fill var(--timing-anim), border var(--timing-anim);
    .clients__link:hover &, :focus & {
        fill: var(--accent-color);
        border: 1px solid var(--accent-color);
    }
}
.clients__link {
    display: block;
}
.clients__item:not(:last-child) {
    margin-right: 30px;
}
