.contact__list {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.contact__item:not(:last-child) {
    margin-right: 30px;
}
.contact__icon {   
    margin-right: 10px;
    fill: currentColor;
}
.contact__icon--mail {
    width: 16px;
    height: 12px;
}
.contact__icon--smartphone {
    width: 10px;
    height: 16px;
}
.contact__link {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.contact__tel-link {
    margin-left: auto; 
}
.contact__link {
    color: var(--primary-text-color);
}