.contact {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.contact__mail:not(:last-child) {
    margin-right: 30px;
}
.contact__icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}
.contact__icon-smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}
.contact__link--color {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.contact__tel-link {
    margin-left: auto; 
}
.contact__link--color {
    color: var(--primary-text-color);
}