.hero {
    background-color: #2F303A; 
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    text-align: center;
    padding: 200px 0;
    margin-left: auto;
    margin-right: auto;
}
.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-bottom: 30px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
}
.hero__btn {
    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    &:hover, &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        outline: none;
    }
}
