:root {
    --secondery-text-color: #212121;
    --accent-color: #2196F3;
    --primary-text-color: #757575;
    --primary-white-color: #FFFFFF;
    --icon-primary: #AFB1B8;
    --timing-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
    font-size: 14px;
    font-family: 'roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
}
p, h1, h2, h3, h4, h5 {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
button {
cursor: pointer;
}
.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.current {
    color: var(--accent-color);
}
.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.title-novisual {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}